//fonts
$font-family-base: 'Quattrocento', serif;
$font-family-contrast: 'Lobster', cursive;

//colors
$color-base: #009bdb;
$color-contrast: #02364c;

// Inside components
$space-base: 1rem;
$space-small:1.25rem;
$space-medium:2.5rem;
$space-large:5rem;
$space-x-large:10rem;
$space-xx-large:15rem;

// Between components
$space-out-small:1.25rem;
$space-out-medium:2.5rem;
$space-out-large:5rem;
$space-out-x-large:10rem;
$space-out-xx-large:20rem;